<article class="menu-base">
  <div class="base-title">
    <h2>AUTHENTICATION</h2>
    <p>会員登録をして、島の魅力をシェアしてみましょう！</p>
  </div>
</article>


<div class="back_image_2">
  <div class="container">
    <div class="signup_tile">
      <h2 >Sign up</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field_box">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "44*30" %>
      </div>
      <br>
      
      <div class="field_box">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :size => "44*30"%>
      </div>
      <br>
    
      <div class="field_box">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>  文字以上入力してください)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :size => "44*30" %>
      </div>
      <br>
      
      <div class="field_box">
        <%= f.label :パスワード（再入力） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :size => "44*30" %>
      </div>
      
      <div class="actions">
        <%= f.submit "新規登録", :class => 'submit_button' %>
      </div>
      <% end %>     
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>  
</div>  

