<article class="menu-base">
  <div class="base-title">
    <h2>MY PROFILE</h2>
    <p>会員情報を編集</p></p>
  </div>
</article>

<div class="back_image_2">
  <div class="container">
    <div class="signup_tile">
      <%= form_with model:@user, local:true do |f| %>
      <h2>プロフィール画像</h2>
      <%= attachment_image_tag @user, :profile_image, size:"60x60", format: 'png', fallback: "no_image.png" %>
      <br>
      <br>
      <%= f.attachment_field :profile_image %>
      <br>
      <br>
      <br>
      <label>ニックネーム</label>
      <%= f.text_field :name, autofocus: true, placeholder:"名前", :size => "34*30" %>
      <br>
      <br>
      <label>メールアドレス</label>
      <%= f.text_field :email, placeholder:"メールアドレス", :size => "32*30" %>
      <br>
      <br>
      <br>
      <br>
      <%= f.submit "変更を保存", :class => 'submit_button' %>
      <% end %>
    </div>
  </div>
</div>