<article class="menu-base">
  <div class="base-title">
    <h2>SHARE</h2>
    <p>島を愛するみんなに写真をシェアしてみましょう</p>
  </div>
</article>

<% if flash[:notice] %>
  <div class="notion_message">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<%= link_to "新規投稿", new_photo_path, class:"d-underline" %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"d-underline" %>

<% @photos.each do |photo| %>
<ul>
    <li>
      <div class="photo_tile">
        <%= link_to photo_path(photo.id) do %>
        <%= attachment_image_tag photo, :image, size: "250x250", format: 'jpeg' %>
        <div class="mask">
          <div class="caption">
            <%= photo.title %>
            <br>
            <br>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= photo.favorites.count %>
          </div>
        </div>
        <% end %>
      </div>  
    </li>
</ul>
<% end %>