<article class="menu-base">
  <div class="base-title">
    <h2>POST PHOTO</h2>
    <p>島の写真を投稿してみましょう！</p>
  </div>
</article>

<% if @photo.errors.any? %>
  <div>
    <ul style="color: red">
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="back_image_2">
    <div class="container">
      <div class="signup_tile">
        <h2>写真投稿</h2>
        <%= form_with model:@photo, local:true do |f| %>
        <%= f.attachment_field :image %>
        <br>
        <br>
        <%= f.label :タイトル %> 
        <%= f.text_field :title, size: "25x1" %>
        <br>
        <br>
        <%= f.label :コメント %> 
        <%= f.text_area :body, size: "27x10", placeholder:"コメントを記入" %>
        <br>
        <br>
        <br>
        <%= f.submit '投稿', :class => 'submit_button' %>
        <% end %>  
      </div>
    </div>
  </div>
