<article class="menu-base">
  <div class="base-title">
    <h2><%= @photo.title %></h2>
    <p>投稿者： <%= link_to @user.name, user_path(@user) %> さん</p></p>
  </div>
</article>

<% if flash[:notice] %>
  <div class="notion_message">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="post_photo">
  <div class="profile_container_2">
    <div class="out_line_2">
      <div class="profile_box_2">
        <div class="profile_image_2">
          <%= link_to user_path(@user) do %> 
          <%= attachment_image_tag @user, :profile_image, size:"80x80", format: 'png', fallback: "no_image.png" %>
          <% end %>
        </div>
        <div class="profile_body_2">
          <%= link_to @user.name, user_path(@user) %> 
        </div>    
      </div>
    </div>
  </div>  
  
  <div class="image_box">
    <%= attachment_image_tag @photo, :image, size: "500x500", format: 'jpeg' %>
  </div>
  <div class="under_box">
    <div class="comments-count">
      <i class="fa fa-commenting-o"></i> <%= @photo.comments.count %>   
    </div>
    <div id="favorites_buttons_<%= @photo.id %>">
      <%= render partial: 'favorites/favorite', locals: { photo: @photo} %>
    </div>
  </div>
  <div class="comment_body">
    <br>
    <h4><%= @photo.body %></h4>
    <br>
    <br>
    <p><%= @photo.created_at.to_s(:datetime_jp) %> </p>
    <br>
    <br>
    <% if @user == current_user %>
    <div class="delete_button">
      <%= link_to "投稿を削除", photo_path(@photo), method: :delete, data: {confirm: "削除しますか？"}, class:"d-underline" %>
    </div>
    <% end %>
  </div>
</div>
<br>
<br>
<%= form_with model: [@photo, @comment], local: true do |f| %>
  <%= f.text_field :comment, placeholder: "コメントを記入", :size => "60*50" %>
  <%= f.submit '投稿' %>
<% end %>

<% @comments.each do |comment| %>
  <div class="comments-container">
    <div class="comments-user">
      <%= link_to user_path(comment.user) do %>
      <%= attachment_image_tag comment.user, :profile_image, size:"50x50", format: 'png', fallback: "no_image.png" %>
      <% end %>
    </div>
    <div class="comments-body">
      <%= link_to user_path(comment.user) do %>
      <%= comment.user.name %>
      <% end %>
      <br> 
      <%= comment.comment %>
    </div>
    <div class="comments-destroy">
      <% if comment.user == current_user %>
      <%= link_to "削除", photo_comment_path(comment.photo.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% else %>
      <% end %>    
    </div>
  </div>
<% end %>

<div class="link_buttons">
 <%= link_to "一覧へ戻る", photos_path, class:"d-underline" %>  |  <%= link_to "投稿者の詳細", user_path(@user) %>
</div>