<article class="menu-base">
  <div class="base-title">
    <h2><%= @photo.title %></h2>
    <p>投稿者： <%= link_to @user.name, user_path(@user) %> さん</p></p>
  </div>
</article>


<%= attachment_image_tag @photo, :image, size: "500x500", format: 'jpeg' %>
<br>
<%= @photo.body %>
<br>
<%= @photo.created_at.to_s(:datetime_jp) %>


<li>
  <%= link_to "一覧へ戻る", photos_path, class:"d-underline" %>
</li>

<li>
  <% if @user == current_user %>
  <%= link_to "削除", photo_path(@photo), method: :delete, data: {confirm: "削除しますか？"}, class:"d-underline" %>
  <% end %>
</li>

<div id="favorites_buttons_<%= @photo.id %>">
  <%= render partial: 'favorites/favorite', locals: { photo: @photo} %>
</div>