<!DOCTYPE html>

<html>
  <head>
    <title>離島カフェ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header wrapper">
      <h1><%= link_to "離島カフェ", root_path, :style=>"color: #111120;" %></h1>
        <nav>
          <ul class="main-nav">
            <li><%= link_to "Top", root_path, :style=>"color: #111120;" %></li>
            <li><%= link_to "Menu", menu_path, :style=>"color: #111120;" %></li>
            <li><%= link_to "Interaction", photos_path, :style=>"color: #111120;" %></li>
          </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
  
  <footer>
    <h4 class="footer-text">2020 Remote island cafe</h4>
  </footer>
  
</html>
